<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container-fluid my-3">

    <style>
        /* 스타일은 생략 */
    </style>

    <div class="Basic">
        <h3>Basic Information</h3>

        <form th:action="@{/user/modifyProfile}" method="post">
            <!-- 프로필 사진 수정 -->
            <div class="form-group">
                <label for="profileImage">프로필 사진</label>
                <input type="file" class="form-control-file" id="profileImage" name="profileImage">
            </div>

            <!-- 유저 이름 수정 -->
            <div class="form-group">
                <label for="username">유저 이름</label>
                <input type="text" class="form-control" id="username" name="username" th:value="${user.username}">
            </div>

            <!-- 이메일 수정 -->
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" th:value="${user.email}">
            </div>

            <button type="submit" class="btn btn-primary">수정 완료</button>
        </form>

        <div class="button-container">
            <a th:href="@{/user/profile}">프로필 변경 취소</a>
        </div>
    </div>

    <div class="qac-container">
        <!-- 이하 생략 -->
    </div>
</div>
</html>