<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <!--  사이드 바  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <aside class="side-bar">
        <section class="side-bar__icon-box">
            <section class="side-bar__icon-1">
                <div></div>
                <div></div>
                <div></div>
            </section>
        </section>
        <ul>
            <li>
                <a th:href="@{/question/list}"><i class="fa-solid fa-cat"></i> 메인 </a>
                <!--                <ul>-->
                <!--                    <li><a href="#">text1</a></li>-->
                <!--                    <li><a href="#">text2</a></li>-->
                <!--                    <li><a href="#">text3</a></li>-->
                <!--                    <li><a href="#">text4</a></li>-->
                <!--                </ul>-->
            </li>
            <li>
                <a th:href="@{/question/list/1}">질문답변</a>
                <!--                <ul>-->
                <!--                    <li><a href="#">text1</a></li>-->
                <!--                    <li><a href="#">text2</a></li>-->
                <!--                    <li><a href="#">text3</a></li>-->
                <!--                    <li><a href="#">text4</a></li>-->
                <!--                </ul>-->
            </li>
            <li>
                <a th:href="@{/question/list/2}">강좌</a>
                <!--                <ul>-->
                <!--                    <li><a href="#">text1</a></li>-->
                <!--                    <li><a href="#">text2</a></li>-->
                <!--                    <li><a href="#">text3</a></li>-->
                <!--                    <li><a href="#">text4</a></li>-->
                <!--                </ul>-->
            </li>
            <li>
                <a th:href="@{/question/list/3}">자유게시판</a>
                <!--                <ul>-->
                <!--                    <li><a href="#">text1</a></li>-->
                <!--                    <li><a href="#">text2</a></li>-->
                <!--                    <li><a href="#">text3</a></li>-->
                <!--                    <li><a href="#">text4</a></li>-->
                <!--                </ul>-->
            </li>
        </ul>
    </aside>
    <!--사이드바-->

    <div class="row my-3">
        <div class="col-6">
            <a th:href="@{/question/create}" class="btn btn-primary" style="background-color:black; border-color:black; color:white;">질문 등록하기</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="button" id="btn_search" >찾기</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th style="width:50%">제목</th>
            <th>글쓴이</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="question, loop : ${paging}">
            <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}"
                      th:text="${#lists.size(question.answerList)}">
        </span>
            </td>
            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>

<!-- 페이징 색 시작 -->
    <head>
        <style>
            .pagination .page-link {
                color: black; /* 텍스트 색상을 검정색으로 설정 */
                background-color: white; /* 배경색을 흰색으로 설정 */
                border: 1px solid black; /* 검정색 테두리 설정 */
            }
            .pagination .page-link:hover {
                background-color: #f8f9fa; /* 마우스 오버 시 배경색 변경 */
                color: black; /* 마우스 오버 시 글자색 검정으로 유지 */
            }
            .pagination .active .page-link {
                background-color: black; /* 활성 페이지 배경색 검정 */
                color: white; /* 활성 페이지 글자색 흰색 */
            }
            .pagination .disabled .page-link {
                color: grey; /* 비활성 페이지 글자색 회색 */
                background-color: white; /* 비활성 페이지 배경색 흰색 */
                border: 1px solid grey; /* 비활성 페이지 테두리 회색 */
            }
        </style>
    </head>
<!-- 페이징 색 끝 -->

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
    <form th:action="@{/question/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
</script>
</html>